/* .banner-table{position: relative;}
.upcoming-list{
  position: absolute;
  left: 1.5rem;
  top: 2rem;
  padding: 0.5rem 1rem;
  background: white;
  box-shadow: 0 2px 15px -2px rgba(0,0,0,0.15);
  max-width: 280px;
  width: 100%;
}
.upcoming-list-title{
  text-align: center;
  color: #040626;
}
.upcoming-game h6{
font-size: 14px;
}
.upcoming-game:not(:last-child){
  border-bottom: 1px solid #efefef;
}

a{display: block;margin: 1rem 0 0.5rem;text-align: right;}
@media(max-width: 768px){
  .upcoming-list{
      position: relative;
      width: 100%;
      max-width: 100%;
  }
}
.team-logo {text-align: center; position: relative;}
.team-logo img{
  max-width: 80px;
  position: absolute;
  left: -40px;
  bottom: 20px;
} */
.fixture-title {
  background: rgb(10,20,50, 0.7);
  display: inline-block;
  padding: 0.25rem 1rem;
  color: white;
  position: absolute;
  z-index: 3;
  top: -5rem;
  right: 0;
}
.fixture-preview{
  border-right: 1px solid #f2f2ff;
  width: 100%;
  height: 100%;
  padding: 1rem;margin-bottom: 1rem;
  background: white;
  box-shadow: 0 2px 15px -2px rgba(163, 162, 162, 0.15);
}
.fixtures{
  position: relative;bottom: -100px;left: 0;z-index: 2;
}
table{border:none;padding: 0;margin: 0;}
table tr td{border: none;padding: 0;margin: 0;}
@media(max-width:928px){
  .row .col{flex-basis: auto;margin-bottom: 1rem;max-width: 225px; width: 50%;}
}

