
nav{position: relative; min-height: 250px; background: url('src/assets/images/daniel-anthony-535300-unsplash.jpg');background-size: cover;background-position: center;
margin-bottom: 100px;
}
.primary-nav{height: 100%; padding: 2rem 56px 1rem;}
.sub-nav{background: rgba(10,20,50,0.5);height: 100%;}
h1{color: white; font-weight: 600; font-size: 42px;font-family: 'Lato';}

.logo{
  color:white;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: 'Lato';
}
.logo img{width: 50px;}

.overlay{position: absolute;top: 0;left: 0;z-index:0;width: 100%;height: 100%; background: rgba(10, 20, 50, 0.5); height: 100%;}

ul{margin: 0;padding: 0;}
ul li{display: inline-block;}
ul li a{color: white;text-decoration: none;display: block; padding: 1rem;transition: all 0.3s ease-in-out;}
ul li a.active, ul li a:hover, ul li a:focus, ul li a:active{background: #3F51B5;}

