<nav>
    <div class="overlay"></div>
    <div class="row">
        <div class="primary-nav col-md-12">
            <div class="row outset">
                <div class="col-md-4">
                    <a routerLink="/"><span class="logo">AUFooty</span></a>
                </div>
                <div class="col-md-8">
                  <app-choose-team></app-choose-team>
                </div>
            </div>
        </div>
        <div class="sub-nav col-md-12">
            <div class="outset">
                <ul>
                    <li><a [routerLinkActive]="'active'" routerLink="/fixtures">Fixtures</a></li>
                    <li><a [routerLinkActive]="'active'" routerLink="/ladder">Ladder</a></li>
                    <li><a [routerLinkActive]="'active'" routerLink="/tips">Tips</a></li>
                    <li><a [routerLinkActive]="'active'" routerLink="/head2head">Head to head</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
          <div class="inset row">
            <div class="col-md-8">
                <h1>Your #1 source for everything Footy</h1>
            </div>
            <div class="offset-md-1 col-md-3">
              <app-ladder-preview></app-ladder-preview>
            </div>
          </div>
          <div class="col-md-8">
            <app-fixtures-preview></app-fixtures-preview>
          </div>
        </div>
    </div>
</nav>
