<h1 class="page-title">Fixtures</h1>
<select (change)="changeRound($event)" id="round" name="round">
  <option value="0">Your Team: {{myTeam.name}}</option>
  <option *ngFor="let round of rounds" [value]="round">Round {{round}}</option>
</select>
<table class="display">
<thead>
  <tr>
    <th>Line up</th>
    <th>Time</th>
    <th>Venue</th>
    <th>Result</th>
  </tr>
</thead>
<tbody>
    <tr *ngFor="let game of games">
      <td>{{game.hteam}} <span class=""> vs </span> {{game.ateam}}</td>
      <td>{{game.date | date: 'shortTime'}}, {{game.date | date: 'fullDate'}}</td>
      <td>{{game.venue}}</td>
      <td>
       <span *ngIf="game.complete == 100">{{game.hteam}} <span class="scores">{{game.hscore}} - {{game.ascore}}</span> {{game.ateam}}</span>
       <span class="live" *ngIf="game.complete > 0 && game.complete < 100">LIVE</span>
       <span *ngIf="game.complete == 0">-</span>
      </td>
    </tr>
</tbody>
</table>
