<app-banner></app-banner>
<div class="inset">
  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  <div class="offset-md-1 col-md-3 twitter-feed">
      <ngx-twitter-timeline
      [data]="{sourceType: 'url', url: 'https://twitter.com/AFL'}"
      [opts]="{tweetLimit: 3}"></ngx-twitter-timeline>
  </div>
</div>
</div>
<app-footer></app-footer>
