.prediction{
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
  border-bottom: 3px solid #272740;
  border-left: none;
  border-right: none;
}
.prediction img{height: 40px;margin: 0 01rem;}
.prediction h3{margin: 0;}
.versus{margin-right: 2rem; margin-left: 2rem;}
.odds-title{
  color: #040626;
  text-align: center;
  font-weight: 600;
}
.odds-detail{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.odds{width: 100%;}
.odds-bar{position: relative; display: block; background: #ededed; width: 100%; height: 20px; border-radius: 0.5rem;}
.odds-fill{position: absolute; left: 0; top: 0; display: block;background: #fbbf00;border-radius: 0.5rem; height: 100%;}
.odds-fill.right{right: 0;left: auto;}
.odds-tile{position: relative;}
.odds-tile .tip{position: absolute;}
