td{text-align: center;}
.h2h-image{
  display: inline-block;
  border:1px solid #efefef;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: 60%;
  background-position: center;
  /* box-shadow: 0 2px 15px -2px rgba(0,0,0,0.15); */
}
.h2h-bar{border-radius: 0.5rem;overflow: hidden;}
.h2h-bar span{
  display: inline-block;
  text-align: center;
  padding:0.25rem 0;
  font-size: 11px;
}
.h2h-loss{background: #efefef;}
.h2h-draw{background: #a5bbe9;}
.h2h-win{background: #3F51B5;color: white;}
